.ipynb_checkpoints/
_cleanup_tmp
_deprecated
_doc
_n_yt
_sciencepaper_firstsubmission_analysis_version
_sciencepaper_revision_analysis_specific
figures
input
intput_files
method_development_deprecatedVersions
modules
sample_output
notes.txt